<div id="footer">
    <div class="icon">
        <img  style="height: inherit;" src="assets/images/iconoBanner.png" alt="Icono">
    </div>
    <div class="contenedor">
        <div class="columna">
          <h2>Contacto</h2>
          <p> (57) 3217481983 </p>
          <p>  micovi1960@gmail.com </p>
        </div>
        <div class="columna">
          <h2>Dónde estamos</h2>
          <p> TV 54 No. 30-403 Santillana de los Patios Ed. Caobas Bosque, Cartagena-Colombia </p>
        </div>
    </div>    
</div>