#sportsman {
  width: 100%;
  .container {
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  .container-view {
    width: 100%;
    height: 100%;
    justify-content: center;
  }

  .full-height {
    padding: 0;
  }
  .content-card {
    background: linear-gradient(
      265.16deg,
      #0ddcf9 -0.06%,
      #3776f2 49.85%,
      #0c4cc8 92.38%
    );
    padding: 20px;
  }

  .row {
    color: #ffffff;
    size: 13px;
    margin-left: 0px;
  }
  .row-data {
    color: #ffffff;
    font-weight: bold;
    size: 13px;
  }

  .center-content img {
    max-width: 100%;
  }

  .close-button {
    color: #ffffff;
    position: absolute;
    top: 8px;
    right: 8px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 1;
  }

  .close-button:focus {
    outline: none;
  }
  ::ng-deep .contentInfo {
    margin: 1%;
    display: flex;
    justify-content: center;
  }

  // ::ng-deep .container-view {
  //   max-width: 1296px;
  // }

  ::ng-deep .container {
    max-width: 100% !important;
  }

  .contentData {
    padding: 10px 20px 10px 30px;
    max-width: 1200px;
  }

  #name {
    color: #fff;
    font-family: "Inria Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .columns{
    border-radius: 17px;
    background-color: #ffffff;
    border: none;
    width: 60px;
    height: 17px;
    color: #0C4CC8;
    font-size: 10.2px;
    font-family: "Inria Sans";
    font-weight: bold;
  }
  .botones {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 150px;
    justify-content: space-between;
  }
}
