<div class="content-dialog">
    <div class="content-x-close">
        <mat-icon class='closeButtonModal' matDialogClose>close</mat-icon>
    </div>

    <div class="content-form">
        <div class="form_insert">
            <h4>Crear plan anual</h4>
            <form [formGroup]="addPlanAnualForm">
                <div class="content-input">
                    <div class="row">Nombre del plan</div>
                    <div class="row-data">
                        <mat-form-field class="matforms" appearance="outline" fxFlex>
                            <input matInput formControlName="name" required class="inputmat" />
                            <mat-error *ngIf="addPlanAnualForm.get('name')?.invalid">El nombre del plan es requerido</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="content-input">
                    <div class="row">Categoria</div>
                    <div class="row-data">
                        <mat-form-field class="matforms" appearance="outline" fxFlex>
                            <mat-select formControlName="CategoriumID">
                                <mat-option *ngFor="let item of categoriesList" [value]="item.ID">{{item.name}}</mat-option>
                              </mat-select>
                            <mat-error *ngIf="addPlanAnualForm.get('CategoriumID')?.invalid">La categoria es requerida</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="content-input">
                    <div class="row">Disciplina</div>
                    <div class="row-data">
                        <mat-form-field class="matforms" appearance="outline" fxFlex>
                            <mat-select formControlName="DiciplinaID">
                                <mat-option *ngFor="let item of diciplinasList" [value]="item.ID">{{item.name}}</mat-option>
                              </mat-select>
                            <mat-error *ngIf="addPlanAnualForm.get('DiciplinaID')?.invalid">La disciplina es requerida</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="content-input content_date">
                    <div class="date">
                        <div class="row">Fecha de inicio</div>
                        <div class="row-data">
                            <mat-form-field class="matforms" appearance="outline" fxFlex>
                                <input matInput [min]="minDate" formControlName="date_initial" required class="inputmat" [matDatepicker]="picker" placeholder="DD/MM/AA"/>
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                                <mat-error *ngIf="addPlanAnualForm.get('date_initial')?.invalid">*requerido</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="date">
                        <div class="row">Fecha de cierre</div>
                        <div class="row-data">
                            <mat-form-field class="matforms" appearance="outline" fxFlex>
                                <input matInput [min]="addPlanAnualForm.get('date_initial')?.value" formControlName="date_end" required class="inputmat" [matDatepicker]="picker_end" placeholder="DD/MM/AA"/>
                                <mat-datepicker-toggle matSuffix [for]="picker_end"></mat-datepicker-toggle>
                                <mat-datepicker #picker_end></mat-datepicker>
                                <mat-error *ngIf="addPlanAnualForm.get('date_end')?.invalid">*requerido</mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                </div>
            </form>
            <div class="content-button">
                <div class="button-close" matDialogClose>Cancelar</div>
                <div class="button-add" (click)="!addPlanAnualForm.invalid ? createAnnualPlan() : alertTrigger()">Crear</div>
            </div>
        </div>
    </div>
</div>
