:host {
  ng-scrollbar {
    --scrollbar-thumb-color: var(--cui-border-color, #999);
    --scrollbar-track-color: var(--cui-body-color, #fff);
    --scrollbar-hover-size: calc(var(--scrollbar-size) * 1.5);
  }
}

.mi-sidebar-personalizado {
  background: linear-gradient(
    225deg,
    #0c4cc8 0%,
    #3776f2 55.62%,
    #0ddcf9 91.67%
  ); /* Reemplaza #00ff00 por el color que desees */

  ::ng-deep.sidebar-brand {
    background: none !important;
  }
}

.saludoSesion {
  color: #000;
  text-align: right;
  font-family: Inria Sans;
  font-size: 23px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin: auto !important;
}

.item_nav {
  font-family: Inria Sans;
  width: 95%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px 10px;
  font-size: 18px;
  margin: 5px 0px;
}

.item_nav:hover {
  cursor: pointer;
}

.content_item {
  width: 90%;
  display: flex;
  align-items: center;
  font-weight: 700;
}

.content_icon {
  width: 50px;
}

.picture-header {
  height: 500px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  .content-img {
    border: 2px solid #37cdf2;
    border-radius: 50%;
    padding: 2px;
    overflow: hidden;
    img {
      border-radius: 50%;
      width: 200px;
      height: 200px;
    }
  }
}

::ng-deep.ng-scroll-content {
  margin-top: 10px;
}

.active {
  background-color: white;
  color: #0c4cc8;
  transform: scale(1.1);
  border-radius: 0px 15px 15px 0px;
  box-shadow: 0 1px 5px rgb(27, 27, 27);
}

.conten-img {
  position: absolute;
  bottom: 0;
  opacity: 0.8;
  width: 256px !important;
  overflow: hidden;
}

:host {
  .bodyConten {
    padding: 0 !important;
  }

  @media (min-width: 1400px) {
    .container-xxl,
    .container-xl,
    .container-lg,
    .container-md,
    .container-sm,
    .container {
      max-width: 100%;
    }
  }
}
