#content-register {
    width: 100%;
    height: 100vh !important;
    display: flex;
    background-image: url(/assets/images/Frame_fondo_login.webp);
    background-size: cover;
    align-items: center;
    justify-content: center;
    background-position: center;

    .logoInternoMini{
        display: none;
    }

    .error-message {
        color: red; /* Cambiar el color de fuente a rojo */
        font-family: Arial, sans-serif; /* Cambiar el tipo de letra */
        font-size: 10px; /* Tamaño de fuente */
        font-weight: italic; /* Peso de fuente en negrita */
        margin-top: 5px; /* Espacio superior para separar el mensaje del campo de entrada */
      }
  
      /* Estilos para el borde rojo del input cuando hay errores */
      .is-invalid {
        border-color: red !important;
      }

    .group_register {
        display: flex;
        width: 1000px;
        height: 596px;
        border-radius: 15px 0px 0px 15px;
        background-color: white;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        overflow: hidden;
        border: 10px solid white;
    }

    .inputRegister {
        max-width: 250px;
        height: 30px;
        flex-shrink: 0;
        border-radius: 10px;
        background: #F8F8F8;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        margin-bottom: 1%;
        border: none;
    }

    .logoInterno {
        height: 230px;
        position: absolute;
        right: -48%;
        filter: drop-shadow(0 0 0.45rem black);
    }

    .contenLogo {
        width: 30%;
        background-image: url(/assets/images/imageRegistro.png);
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        margin-left: 3;
        justify-content: flex-end;
        align-items: flex-end;
        position: relative;
        box-shadow: 0px 0px 5px;
    }

    .content-form {
        padding-top: 20px;
    }

    .row {
        height: 360px;
        flex-wrap: nowrap;
    }

    .tittleRegister {
        margin-top: 30px;
        color: #000000;
        font-size: 34px;
        font-weight: bold;
        font-style: normal;
        line-height: normal;
        width: 245px;
        height: 38px;
    }

    .contentInput {
        padding-left: 60px;
        width: 70%;
        display: flex;
        flex-direction: column;
    }

    .content-formulario {
        height: 300px;
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

    }

    .textInput {
        margin-bottom: 2px;
        color: #000000;
        font-size: 21px;
        font-style: normal;
        line-height: normal;
        font-weight: 400;
        /* Valor de font-weight para un texto delgado */
        font-stretch: condensed;
        /* Valor de font-stretch para un texto condensado (delgado) */

    }

    .buttonSend {
        border: none;
        height: 31px;
        flex-shrink: 0;
        border-radius: 15px;
        background: linear-gradient(180deg, #0DDCF9 15.63%, #0C4CC8 100%);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        color: #ffffff;
        width: 250px;
        font-size: 20px;
        font-style: normal;
        font-weight: bold;
        line-height: normal;

        display: flex;
        justify-content: center;
        align-items: center;

        font-family: 'Viable Logic', sans-serif;
        margin-top: 27px;
    }

    @media screen and (max-width: 990px) {
        .logoInterno {            
            display: none;
        }
        .contenLogo {
            display: none;
        }

        .logoInternoMini{
            display: block; 
            width: 100%;      
        }
           
        .group_register {
            width: 560px;
            height: 653px;
            display: flex;
            flex-direction: column;
            border-radius: 45px;
            border: 15px solid white;  
        }

        .contentInput{
            width: 100%;
            height: 400px;
            padding-left: 0;
        }

        .content-form {
            overflow: hidden;
        }

        .content-formulario {
            label {
                font-size: 16px;
                font-weight: 400;
            }
            input {
                width: 230px;
            }
        }

        .buttonSend {
            width: 230px;
        }
    }

}