#content-register {
  width: 100%;
  display: flex;
  background-image: url(/assets/images/Frame_fondo_login.webp);
  background-size: cover;
  align-items: center;
  justify-content: center;
  background-position: center;
  height: 100% !important;

  .logoInternoMini {
    display: none;
  }

  .error-message {
    color: red; /* Cambiar el color de fuente a rojo */
    font-family: Arial, sans-serif; /* Cambiar el tipo de letra */
    font-size: 10px; /* Tamaño de fuente */
    font-weight: italic; /* Peso de fuente en negrita */
    margin-top: 4px; /* Espacio superior para separar el mensaje del campo de entrada */
  }

  /* Estilos para el borde rojo del input cuando hay errores */
  .is-invalid {
    border-color: red !important;
  }

  .group_register {
    display: flex;
    background-image: url(/assets/images/Group_557.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 899px;
    height: 596px;
    border-radius: 25px 0px 0px 25px;
    background-color: white;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    overflow: auto;
    justify-content: flex-end;
  }

  .inputRegister {
    width: 300px;
    height: 35px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #f8f8f8;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 1%;
    border: none;
  }


  .content-form {
    width: 80%;
    height: 75%;
  }

  .row {
    height: 90%;
    flex-wrap: nowrap;
  }

  .tittleRegister {
    margin-top: 36px;
    color: #000000;
    font-size: 40px;
    font-weight: bold;
    font-style: normal;
    line-height: normal;
    width: 226px;
    height: 65px;
  }


  .contentInput {
    padding-left: 20px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content-formulario-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .textInput {
    margin-bottom: 2px;
    color: #000000;
    font-size: 21px;
    font-style: normal;
    line-height: normal;
    font-weight: 400;
    /* Valor de font-weight para un texto delgado */
    font-stretch: condensed;
    /* Valor de font-stretch para un texto condensado (delgado) */
  }

  .buttonSend {
    border: none;
    height: 28px;
    flex-shrink: 0;
    border-radius: 15px;
    background: linear-gradient(180deg, #0ddcf9 15.63%, #0c4cc8 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #ffffff;
    width: 210px;
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Viable Logic", sans-serif;
    margin-top: 27px;
  }

  @media screen and (max-width: 950px) {
    .group_register {
      width: 700px;
    }
  }

  @media screen and (max-width: 750px) {
    .group_register {
      width: 400px;
      background-image: none !important;
      border-radius: 10px;
      justify-content: center;
    }

  }


  /* Estilo para el triángulo de flecha */
  .select-arrow {
    position: relative;
  }

  .select-arrow::after {
    content: "";
    position: absolute;
    top: 60%;
    right: 10px; /* Ajusta la distancia desde el borde derecho */
    transform: translateY(-50%);
    width: 0;
    height:0;
    border-left: 5px solid transparent; /* Tamaño de la flecha */
    border-right: 5px solid transparent;
    border-top: 5px solid #0c4cc8; /* Color de la flecha */
    pointer-events: none; /* Evita que la flecha sea clickeable */
  }

  .select-wrapper {
    position: relative;
  }

  .select-wrapper select.inputRegister {
    appearance: none;
    padding-right: 20px;
  }
  /* Estilos para la barra desplegable */
  .dropdown-menu {
    right: 100;
    left: auto;
  }

  .paginators {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    span {
        width: 15px;
        height: 15px;
        background-color: gainsboro;
        border-radius: 50%;
        box-shadow: inset 1px 1px 3px gray;
        cursor: pointer;
    }
    .pointSelected {
        background-color:chartreuse
    }
    
  }

  .paginators span:active {
    transform: scale(0.9);
  }

  .uploadlabel {
    .masImg {
      width: 120px;
      height: 120px;
      background-image: url(/assets/images/agregar.png);
      background-repeat: no-repeat;
      background-size: contain;
    }
    .textImg {
      text-align: center;
      font-family: Inria Sans;
      font-size: 17.36px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    .masImg, .textImg:hover {
        cursor: pointer;
    }

    img {
      max-width: 200px;
      object-fit: cover;
      border-radius: 40%;
      width: 200px;
      height: 200px;
    }
  }
}
