<div>
  <div class="dinamic">
    <app-createEntrenador [viewActive]="showViewCreateEntrenador" *ngIf="showViewCreateEntrenador" (CreateEntrenador)="findEntranador()" class="create"></app-createEntrenador>
    <section class="filterContent">
      <app-dinamic-filter [selectItemCount]="selectItemCount" [isDownload]="isDownload" [nameAdd]="nameAdd"
        [dataFilter]="filtros" (filterResult)="getDataFilter($event)" (actionFilter)="getActionEventFilter($event)">
        loading..
      </app-dinamic-filter>
    </section>
    <app-viewEntrenador [viewActive]="showViewEntrenador" *ngIf="showViewEntrenador"></app-viewEntrenador>
    <section>
      <app-dinamic-table [isCheckBox]="isCheck" [columns]="column" [dataSource]="data"
        (selectItemCount)="getselectItemCount($event)" (actionEvent)="getActionEvent($event)"></app-dinamic-table>
    </section>
  </div>
</div>
