<div id="banner">
    <div class="bannerHeader">        
        <div class="icono">
            <img  style="height: inherit;" src="assets/images/dashboard.png" alt="Icono">
        </div> 
        <div class="ingresar">
          Ingresar <button class="ButtonIngresar" (click)="redireccion()" > ¡Comienza ya! </button>
        </div>
    </div>
    <div class="bannerContent">
       <div class="bannerContentIcon">
        <img  style="height: inherit;" src="assets/images/iconoBanner.png" alt="Icono">
       </div>
       <div class="bannerContentTittle">
        SPORTS TECHNOLOGY
       </div>
       <div class="bannerContentText">
        Orientados a las necesidades del Sector del Deporte. Nos especializamos en todo lo relacionado con Eventos deportivos, la Administración, Organización, Difusión, Planificación, Control y Evaluación de los mismos. Nuestro compromiso como equipo es ofrecer soluciones integrales y eficientes para potenciar el desarrollo y el éxito de nuestros clientes en el ámbito deportivo. Trabajamos con pasión y dedicación para estar a la vanguardia de la industria, brindando servicios de alta calidad que impulsen el crecimiento y la excelencia en el sector.
       </div>
    </div>
</div>
