.createEjercicio {
    background-image: url(../../../../../assets/images/fondoCrearEjercicio.png);
    background-size: 100% auto; 
    background-repeat: no-repeat;
    background-position: top; 
    border-radius: 10px; 
    max-height: fit-content; 
    max-height: 500px; 

    
    .botonCrear{
      background-color:  #73F237;
      font-family: Inria Sans;
      font-size: 20px;
      font-weight: 500;
      width: 250px;
      border-radius: 10px;
      color: #FFFFFFFF;
    }
    .botonCrearContent{
      text-align: center;          
    }
    .scroll-container {
      max-height: 460px; 
      overflow-y: auto; 
      border: none;
    }
    :host {
      display: block; 
      border: 2px solid #ccc; 
      padding: 20px; 
      border-radius: 30px; 
    }

    .tittle-ejercicio{
      font-size: 35px;
      color: #FFFFFF;
      font-family: sans-serif;
      padding: 40px 0px 20px 30px;
    }
    .form-container {
      display: flex;
      flex-direction: column;
    }
    .contet-input {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      padding: 0px 50px 30px 0px;
    }

    .row-select{
      padding-right: 35px;
    }
    
    .select{
      border: 2px solid #0c4cc8;
      border-radius: 10px;
      height: 30px;
    }

    .content-select{
      display: flex;
      justify-content: flex-end;
      padding: 0px 48px 40px 0px;
    }

    .field-select{
      width: 190px;
    }

     .row{
      padding: inherit;
     }

     .form-field{
      border-radius: 10px;
      border-color: aqua
     }

     .field-input{
      background-color: #FFFFFF;
      border-radius: 10px;
      border: 2px solid #0c4cc8;
     }

     .crearSubgr{
      background: linear-gradient(180deg, #0DDCF9 15.62%, #0C4CC8 100%);
      color: #FFFFFF;
      font-weight: 500;
      border: none;
      border-radius: 15px;
     }

     .Error{
      border-color: rgb(145, 53, 53);
     }
  }
